
*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    padding: 2rem 2rem; 
    position: relative; 
    z-index: 0; 
}

.container .product_header{
    border: 1px solid #00000032;
    padding: 1rem;
    box-shadow: 0 1px #00000020;
    margin-bottom: 1rem;
}

.required{
    color: #dd2b0e;
}

.requiredP{
    background-color: #ff2015 !important;
}

#syncButton{
    padding-right: 4rem;
}

.product_header_bottom select{
    padding-left: 16px !important;
    width: 100px !important;
}

.container .product_header .product_header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .product_header .product_header_top .input{
    width: 50rem;
}

.container .product_header .product_header_bottom {
  padding: 1rem 0 0 0;
}
.container .product_header .product_header_bottom select{
  border-radius: 3px;
}

.container .product_header .product_header_bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}

/* start add product */

.form_add_products div label{
    font-size: 1rem !important;
}


/* featured image */
.featured_image_box{
}
.featured_image_box .image{
    display: flex !important;
    align-items: center;
    gap: 18rem !important;
}

.featured_image{
    width: 300px !important;
}


.box_button_add{
    display: flex ;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem !important;

}

.box_file{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.box_file .featured_image_box{
    width: 49%;
}


/* start add property */
.form_add_property{
    padding: 2rem !important;

}

.form_add_property div label{
    font-size: 1rem !important;
}


.d-none{
    display: none;
}


.err_border{
    border: red 1px solid !important;
}

.pagination_box{
    text-align: center;
}


.edit_button i {
    margin: 0 !important;
    height: 0 !important;
    color: #000;
}


.upload_icon{

}


.box_gallery{
   
    }

    body::-webkit-scrollbar {
    display: none;

    }
    #galleryPreviewContainer {
        height: 100px;
    overflow-x: auto; 
    white-space: nowrap; 
    padding-bottom: 0.2rem ;
}

#galleryPreviewContainer img {
    margin-right: 0.4rem;
    display: inline-block; 
}

    .form_add_products{
        padding: 2rem;
    font-size: 10px;

    }

    .img_box{
        text-align: center;
        overflow: hidden;
        cursor: pointer;
        border-radius: 10px;
    }

    .edit_button {
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    background-color: #fff;
}

.box_button_add{
    margin-top: 1rem;
}

#editProductButton{
    
}

#addProductButton{
}

.tag_name{
    width: 190px;
}

.prd_name{
    width: 206px;
}

table thead .date{
    width: 100px;
}

#tableID{
    text-align: center;
}



.box_table{

    height: 400px;
    overflow-y: auto;  
    margin-bottom: 20px; 
}
.box_table2{

height: 400px;
overflow-y: auto;  
margin-bottom: 20px; 
}


.category_boxx{
    width: 150px;
    position: relative;
}

.category_boxx .dropdown{
    position: absolute !important;
    width: 150px;

}


.action_box{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

#action_box .box_delete_buttons {
  display: none; 
  left: 5rem;
  cursor: pointer;
}



.gallery_name{
    width: 200px;
}

.gallery-container {
    white-space: nowrap;   
    overflow-x: auto;      
    max-width: 200px;      
}

.gallery-container img {
    display: inline-block; 
}

#paginationBoxx{
    display: none ;
}

#productTables{
    text-align: center;

}


/* dd */


    

#categories_select{
    height: 55px;
}

#tags_select{
    height: 55px;
}
.delete_buttons{
    color: #000;
}

.delete_button{
    cursor: pointer;
    color: #000;
}

.edit_button i{
    color: #000;
}

.tag{
    white-space: nowrap;
    overflow-x: auto;
    max-width: 200px;
}

#resultContainer{
    height: 100px ;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 0.2rem;

}

#uploadedImage{
    width: 200px !important;
    object-fit: contain;
    height: 90px !important;

}

#galleryPreviewContainer img{
    width: 200px !important;
    object-fit: contain;
    height: 90px;
}
label{
    margin-bottom: 0.8rem !important;
    font-size: 16px !important;
}

#load_property{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box_property{
    width: 49%;
    margin-bottom: 0 !important;
}

.box_input{
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_input input{
    line-height: 1.5rem !important; 

}

.product_name_label::after{
    content: "*";
    color: red;
}

.modals {
    z-index: 999 !important;
}

.check.circle.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: #fff;
}

.header{
    color: #fff !important;
}



.message{
    padding: 2px  !important;
    right: 0 !important;
    position: absolute !important;
    z-index: 1000;
    display: none;
    align-items: center;
    margin: 1rem !important;
    width: 290px;
    
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.25);
    left: 50%;
    transform: translate(-50%, -27%);
    justify-content: center;
    font-size: 1rem !important;
    transition: all 0.5s;
}




.message.flexWP {
    padding: 10px !important;
    background-color: #ff0505 !important;
    border-color: #009D23;
    display: flex !important;
}

.message.flexSP {
    padding: 10px !important;
    background-color: #00e111 !important;
    border-color: #009D23;
    display: flex !important;
}
.requiredP.flex {
    padding: 10px !important;
    display: flex !important;
}


.box_input label:active{
 transform: scale(0.9);
}

.ui.dimmer{
    background: #3c3b3b6f !important;
}


.select2-container .select2-dropdown {
    max-height: 200px; 
    overflow-y: auto;
}

.select2-container .select2-selection__rendered {
    max-height: 100px;
    overflow-y: auto;  
    overflow-x: hidden; 
}
.select2-container--default .select2-selection--multiple  {
    height: 30px !important;
    overflow-y: auto;
    overflow-x: hidden; 
    border: 1px solid rgba(34, 36, 38, .15) !important;

}
.ui.form textarea:not([rows]){
    height: 0 !important;
    min-height: 1.2rem !important;
}

.select2-container{
    width: 100% !important;
}

.loading_{
    position: absolute !important;
    left: 30% !important;
    top: 7% !important;
}